@model Web.Models.FixtureViewModel

@{
    ViewBag.Title = "Fixtue Title";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="text-center align-middle">Morpeth</h4>
            <h1 class="text-center align-middle">1-0</h1>
            <h4 class="text-center align-middle">Newcastle Medics</h4>
        </div>
    </div>
</div>

<div class="container">

    
</div>