

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CSS Document */

.header {
    background-color: #77102b;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.footer {
    height: 100px;
    background-color: #454746;
}

    .footer p {
        color: #FFF;
        padding-top: 40px;
    }

.navbar {
    background-color: #77102b;
}

#hamburger-icon {
    color: #FFF;
}

.padding-zero {
    padding: 0 !important;
}

.cover-image {
    width: 100%;
    background-image: url(/Content/Images/Mens1sWide.jpg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
}

@media (max-width: 575px) {
    .cover-image {
        height: 400px;
    }

    .map {
        height: 300px;
    }

    .vertical-space {
        height: 10px;
    }

    body {
        padding-top: 66px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .cover-image {
        height: 400px;
    }

    .map {
        height: 300px;
    }

    .vertical-space {
        height: 10px;
    }

    body {
        padding-top: 66px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cover-image {
        height: 400px;
    }

    .card-deck {
        column-count: 3;
    }

    .map {
        height: 400px;
    }

    .vertical-space {
        height: 20px;
    }

    body {
        padding-top: 116px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cover-image {
        height: 500px;
    }

    .card-deck {
        column-count: 3;
    }

    .map {
        height: 400px;
    }

    .vertical-space {
        height: 20px;
    }

    body {
        padding-top: 116px;
    }
}

@media (min-width: 1200px) {
    .cover-image {
        height: 500px;
    }

    .card-deck {
        column-count: 3;
    }

    .map {
        height: 400px;
    }

    .vertical-space {
        height: 20px;
    }

    body {
        padding-top: 116px;
    }
}

