@{
    ViewBag.Title = "Code Of Conduct";
}

<div class="container">

    <hr />
    <h2>@ViewBag.Title</h2>
    <hr />

    <p class="mb-1">Players must abide by the following:</p>
    <ul>
        <li>Respect the spirit of fair play in hockey. This is more than playing within the rules. It also incorporates the concepts of friendship, respect for others and always participating with the right spirit.</li>
        <li>Respect the rights, dignity and worth of others. Do not discriminate others for their ethnicity, religious beliefs or sexuality.</li>
        <li>Respect umpires, officials, coaches, players and spectators. No abuse will be tolerated at any time.</li>
        <li>Conduct themselves in a manner that takes all reasonable measures to protect their own safety and the safety of others.</li>
        <li>Never participate when under the influence of alcohol or drugs such that you are likely to hurt yourself or others.</li>
        <li>Promote the reputation of the sport and Medics Hockey club and take all possible steps to prevent it from being brought into disrepute.</li>
        <li>Accept success and failure, victory and defeat, with dignity. Shake hands with opponents and Umpires at the end of a game.</li>
        <li>Set a positive example for others, particularly young participants and spectators.</li>
        <li>Protect others involved in the game from verbal or physical abuse and threatening or intimidating behaviour.</li>
        <li>Only the Team Captains should discuss decisions with Umpires during a game. Direct any queries to your Captain.</li>
        <li>Never use inappropriate language or gestures.</li>
    </ul>

    <p class="mb-1">To help with the organisation of the club and teams players must:</p>
    <ul>
        <li>Inform Captains at least 48 hours prior to the game of their availaibility.</li>
        <li>Not fail to attend games or drop out at the last minute unless for extreme circumstances.</li>
        <li>Arrive at or before the time set by captains for games</li>
        <li>Promptly meet deadlines set by committee members for payments for club membership and social events.</li>
        <li>Regularly attend team training – only not attending when work commitments clash with training.</li>
    </ul>
    <p class="mb-1">In addition, players must abide by England Hockey policies listed below available at <a target="_blank" href="http://www.englandhockey.co.uk">England Hockey</a>:</p>
    <ul>
        <li>England Hockey Safeguarding and Protecting Young People in Hockey Policy and Procedures and Good Practice Guidelines</li>
        <li>England Hockey Equity Policy</li>
        <li>England Hockey Anti-doping Rules</li>
        <li>England Hockey Code of Conduct and Behaviour</li>
    </ul>
</div>
