@{
    ViewBag.Title = "Use of Data";
}

<div class="container">

    <hr />
    <h2>@ViewBag.Title</h2>
    <h6>This is a description of the things Newcastle Medics will use your data for.</h6>
    <hr />


    <p class="mb-1">In a general sense Newcastle Medics will only use your data for administration of the hockey club, this could include:</p>
    <ul>
        <li>The club using your email address and/or phone number to request your availability for matches.</li>
        <li>The club using your contact details to spread information about training sessions, matches and socials.</li>
        <li>The club using your hockey ability information to select you for the appropriate team.</li>
        <li>The club sharing your identification details with the relevent league to allow them to register you as a player.</li>
        <li>The club using your contact details to request umpiring availability and spread information about umpiring courses.</li>
        <li>The club using your occupational information to determine subscription fee amount.</li>
        <li>The club using your umpiring information to select you to umpire matches.</li>
        <li>The club using your contact details to pursue debts owed to the club.</li>
    </ul>
</div>
