
@{
    ViewBag.Title = "Committee";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron" id="about">
                <h1 class="display-4">Committee</h1>
                <p class="lead">Newcastle Medics Hockey Club is run by a committee of members</p>
                <hr class="my-4" />
                <p>Committee members for the forthcoming season are elected at our Annual General Meeting. Each committee member has a particular area they are in charge of. The leaders of the committee are the club captains.</p>
            </div>

            <h2>2018-2019 Committee </h2>
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Jessie Meikle</h4>
                        <p class="lead">Ladies' Club Captain</p>
                        <p class="card-text">The Ladies's Club Captain oversee the activities of the ladies' Team Captains and co-chair committee meetings.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Rob Gair</h4>
                        <p class="lead">Men's Club Captain</p>
                        <p class="card-text">The Men's Club Captain oversee the activities of the men's Team Captains and co-chair committee meetings.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Beth Bradbury</h4>
                        <p class="lead">Treasurer</p>
                        <p class="card-text">The Treasurer is in charge of the club's finances.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tom Patrick</h4>
                        <p class="lead">Men's Fixtures Secretary</p>
                        <p class="card-text">The Men's Fixtures Secretary organises fixtures for the mens teams, this involves communicating with other clubs and the league.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Emma Curtis</h4>
                        <p class="lead">Ladies' Fixtures Secretary</p>
                        <p class="card-text">The Ladies' Fixtures Secretary organises fixtures for the ladies teams, this involves communicating with other clubs and the league.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Catherine Hall</h4>
                        <p class="lead">Social Secretary</p>
                        <p class="card-text">The social secretary is in charge of organising club socials and events.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sarah Jeffery</h4>
                        <p class="lead">Umpire Secretary</p>
                        <p class="card-text">The Umpire Secretary ensures each fixture has an umpire provided by the club and promotes the training of new umpires.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ross Whetter</h4>
                        <p class="lead">Men's 1s Captain</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Rebecca Spooner</h4>
                        <p class="lead">Ladies' 1s Captain</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Calum Howe</h4>
                        <p class="lead">Men's 2s Captain</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sally Staunton</h4>
                        <p class="lead">Ladies' 2s Captain</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dominic Heyes</h4>
                        <p class="lead">Men's 3s Captain</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Charlotte Ford</h4>
                        <p class="lead">Ladies' 3s Captain</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>