@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col cover-image">
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row">
        <div class="jumbotron" id="about">
            <h1 class="display-3">About Us</h1>
            <p class="lead">Newcastle Medics Hockey Club is a (field) hockey club based in Newcastle in the North of England</p>
            <hr class="my-4" />
            <p>There are no set standards for entry. Medics, non-medics, experienced players and newcomers to the game are all welcome. We don't take ourselves too seriously and you can commit yourself to as much or as little hockey as you like.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Home/Play" role="button">Join Us</a>
            </p>
        </div>
    </div>
</div>