@{
    ViewBag.Title = "Play";
}

<div class="container-fluid">
    <div class="row">
        <div class="col padding-zero">
            <iframe class="map" width="100%" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLSJzLxJ3fkgRU-yCk50vWdA&key=AIzaSyBBYXXpctk_x_AeTzuF6fpLC04Tg5rI8P4&maptype=satellite&zoom=18" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="vertical-space"></div>
    <h1>Hockey</h1>
    <p>Newcastle Medics are based at <a href="https://www.google.co.uk/search?q=newcastle+trampoline+park+and+gym" target="_blank">Newcastle Trampoline Park and Gym</a> (formerly known as Westgate Centre for Sport), this is where home matches are played and where training happens. <strong>Please feel free to just turn up to training and get involved!</strong></p>
    <p>The pitch is easily accessible by bus from Newcastle city centre, lifts are also given from the medical school or Jesmond.</p>
    <h2>Matches</h2>
    <p>Matches are normally played on a Saturday in leagues local to Newcastle. On occasion matches are played on Sundays and very rarely on other days of the week.</p>
    <h2>Training</h2>
    <p>Training occurs on a Monday and Tuesday evening during the season restarting the 8th of October 2018:</p>
    <dl>
        <dt class="col-3">Beginner</dt>
        <dd class="col-9">Mondays 8pm-9:30pm</dd>
        <dt class="col-3">Intermediate</dt>
        <dd class="col-9">Tuesdays 6:30pm-8:00pm</dd>
        <dt class="col-3">Advanced</dt>
        <dd class="col-9">Tuesdays 8:00pm-9:30pm</dd>
    </dl>
    <p>Training consists of structured drills run by high calibre coaches, it is recommended you attend these training sessions especially if you are looking to play in one of the club's first teams.</p>
    <h2>Other</h2>
    <p>There are other hockey sessions our members are involved in:</p>
    <dl>
        <dt class="col-3">Freeman Hockey</dt>
        <dd class="col-9">Social hit-around on a Wednesday 6:00pm-7:00pm at <a href="https://www.google.co.uk/search?q=Heaton+Manor+School" target="_blank">Heaton Manor School</a>.</dd>
        <dt class="col-3">Newcastle Summer League</dt>
        <dd class="col-9">Relaxed league during the off-season at <a href="https://www.google.co.uk/search?q=Longbenton+Sports+Ground" target="_blank">Longbenton Sports Ground</a>, click <a href="https://www.facebook.com/groups/NewcastleSummerHockey/" target="_blank">here</a> for more info.</dd>
    </dl>
</div>
